@import "tailwindcss";

body {
  background-color: #00150f;
  color: white;
  margin: 0;
}

/* كلاس مخصص للتوهج الأخضر */
.enso-glow-text {
  transition: all 0.5s ease;
}

.enso-glow-text:hover {
  color: #00a859 !important; /* اللون الأخضر الخاص بـ Enso */
  text-shadow: 
    0 0 10px rgba(0, 168, 89, 0.8), 
    0 0 20px rgba(0, 168, 89, 0.5), 
    0 0 30px rgba(0, 168, 89, 0.3);
  transform: scale(1.05); /* تكبير بسيط جداً لتعزيز التأثير */
}