@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Montserrat:wght@700;800;900&family=Playfair+Display:ital,wght@1,400;1,700&display=swap');

@import "tailwindcss";

body {
  background-color: #00150f;
  color: white;
  margin: 0;
  font-family: 'Inter', sans-serif; /* الخط الافتراضي للنصوص */
  overflow-x: hidden;
}

/* تخصيصات العناوين لسهولة الاستخدام */
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.font-italic-playfair {
  font-family: 'Playfair Display', serif;
  text-transform: none; /* ليبقى شكل الخط المائل طبيعياً */
}

.enso-glow-text:hover {
  color: #00a859 !important; /* اللون الأخضر الخاص بـ Enso */
  text-shadow: 
    0 0 10px rgba(0, 168, 89, 0.8), 
    0 0 20px rgba(0, 168, 89, 0.5), 
    0 0 30px rgba(0, 168, 89, 0.3);
  transform: scale(1.05); /* تكبير بسيط جداً لتعزيز التأثير */
}